<%#
REFERENCES
1. Jensen, C. (2023). Fullstack E-Commerce: Ruby on Rails 7, Hotwire, Tailwind, Stripe, PostgreSQL [YouTube Video]. In YouTube. https://www.youtube.com/watch?v=hURUMwdCWuI&t=1109s (https://github.com/connerj70/ecomm)

2. Sreeram Venkitesh. (2022, October 13). How To Set Up User Authentication with Devise in a Rails 7 Application. Digitalocean.com; DigitalOcean. https://www.digitalocean.com/community/tutorials/how-to-set-up-user-authentication-with-devise-in-a-rails-7-application

3. Learn Hotwire and Turbo with a free Rails 7 tutorial. (2024). Learn Hotwire and Turbo with a Free Rails 7 Tutorial. https://www.hotrails.dev/turbo-rails

4. Tailwind CSS - Rapidly build modern websites without ever leaving your HTML. (2020, November 15). Tailwindcss.com; Tailwind CSS. https://tailwindcss.com/

‌5. What are payment rails? A guide | Stripe. (2023). Stripe.com. https://stripe.com/resources/more/what-are-payment-rails

6. PostgreSQL Tutorial. (2021). Postgresqltutorial.com. https://www.postgresqltutorial.com/

7. Beginning | Ruby on Rails Tutorial. (2014). Blackboard.com. https://alt-5fc921f3695d4.blackboard.com/bbcswebdav/courses/CSCI.33440.2022-50/rails_tutorial/beginning.html
#%>




<%# 
    This is the Admin index page. 
    In routes: admin#index
%>

<h1>Admin Home</h1>

<%# 
    Passing revenue, total sales, average sales, each item per sale from the admin controller to 
    populate the dashboard on the Admin home page creating a Daily Stats view 
%>

<div class = "flex justify-betweem flex-wrap mt-8 w-full items-center max-w-4xl">
    <h2 class = "text-2xl text-gray-800 font-medium mb-4">Daily Stats</h2>
    <div class = "flex gap-10 flex-col md:flex-row justify-between w-full">
        <div class= "max-w-sm rounded overflow-hidden shadow-xl bg-gradient-to-r 
        from-gray-400 to-gray-300">
            <div class= "px-6 py-4">
                <div class= "font-bold text-xl mb-2 text-white">Revenue</div>
                <p class= "text-white text-base">
                    $<%= @quick_stats[:revenue] ? (@quick_stats[:revenue]/100.0).to_s : "0" %>
                    </p>
            </div>
            </div>
            <div class= "max-w-sm rounded overflow-hidden shadow-xl bg-gradient-to-r 
            from-gray-400 to-gray-300">
            <div class= "px-6 py-4">
                <div class= "font-bold text-xl mb-2 text-white">Total Sales</div>
                <p class= "text-white text-base">
                    <%= @quick_stats[:sales] ? (@quick_stats[:sales]).to_s : "0" %></p>
            </div>
            </div>
            <div class= "max-w-sm rounded overflow-hidden shadow-xl bg-gradient-to-r 
            from-gray-400 to-gray-300">
            <div class= "px-6 py-4">
                <div class= "font-bold text-xl mb-2 text-white">Average Sales</div>
                <p class= "text-white text-base">
                    $<%= @quick_stats[:avg_sales] ? (@quick_stats[:avg_sale]/100.0).to_s : "0" %>
                    </p>
            </div>
            </div>
            <div class= "max-w-sm rounded overflow-hidden shadow-xl bg-gradient-to-r 
            from-gray-400 to-gray-300">
            <div class= "px-6 py-4">
                <div class= "font-bold text-xl mb-2 text-white">Item/Sale</div>
                <p class= "text-white text-base">
                    <%= @quick_stats[:per_sale].to_i %></p>
            </div>
            </div>
        </div>        
    </div>

<%#
    Adding some padding to the chart from tailwind.
    The data from dashboard_controller.js is being pushed by Stimulus & Chart.js    
%>

<div class="my-8 w-full">
    <h2 class = "text-2xl text-gray-800 font-medium mb-4">Revenue</h2>
    
    <%#Connects dashboard controller to the Admin index%>
    <div class="w-full" data-controller= "dashboard" 
    data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
        <canvas id="revenueChart"></canvas>
    </div>
</div>

<%#
    Creating a table for the Admin user to view the orders   
%>
<div class= "flex flex-col w-full">
    <h2 class = "text-2xl text-gray-800 mb-4 font-mdeium">Recent Unfulfilled Orders</h2>
    <div class= "overflow-x-auto">
        <table class= "min-w-full bg-gray-100" style= "border collapse: separate; border-spacing: 0">
            <thead>
                <tr class = "text-gray-800">
                    <th class="px-6 py-3 border-b-200 bg-gray-100">Order ID</th>
            
                    <th class="px-6 py-3 border-b-200 bg-gray-100">Customer</th>
            
                    <th class="px-6 py-3 border-b-200 bg-gray-100">Date</th>
            
                    <th class="px-6 py-3 border-b-200 bg-gray-100">Amount</th>
                </tr>
            </thead>
            <tbody class = "text-gray-700">
                <% @orders.each do |order| %> <%# for each order it will create a row %>
                    <tr> <%# filling in the table with new data from the Orders %>
                        <td class= "px-6 py-4 border-b border-gray-200">
                            <%= link_to order.id, admin_order_path(order), class:
                            "underline" %>
                        </td>
                        <td class= "px-6 py-4 border-b border-gray-200">
                            <%= order.customer_email %>
                        </td>
                        <td class= "px-6 py-4 border-b border-gray-200">
                            <%= order.created_at.strftime("%B %d, %Y %H:%M") %>
                        </td>
                        <td class= "px-6 py-4 border-b border-gray-200">
                            <%=  (order.total/100.00).to_s %>
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>


